@import url("https://fonts.googleapis.com/css2?family=Grandstander:ital,wght@0,100..900;1,100..900&display=swap");
:root {
  --primary-color: #000000;
  --secondary-color: #fff;
  --var-height: 100vh;
  --var-width: 100vw;
  --xxl: 128px;
  --xl: 96px;
  --l: 64px;
  --m: 48px;
  --s: 32px;
  --xs: 24px;
  --xxs: 20px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.home-section {
  background-image: url("images/background-pink.svg");
  object-fit: cover;
  /* height: var(--var-height); */
  width: var(--var-width);
  /* position: absolute; */
  top: 0;
  display: flex;
  justify-content: center;
  gap: 30px;
  padding-top: 230px;
  padding-bottom: 100px;

  h1 {
    font-size: var(--xxl);
    font-family: "Grandstander";
  }
  p {
    font-size: var(--xxs);
    line-height: 34px;
    font-family: "Grandstander";
  }
  .btn {
    border-radius: 100px;
    height: 100px;
    width: 337px;
    border: 3px solid var(--primary-color);
    font-size: var(--xs);
    background: #f3cb60;
    font-size: 28px;
    font-family: "Grandstander";
  }
}

header {
  display: flex;
  justify-content: center;
  position: fixed;
  width: var(--var-width);
  margin-top: 39px;
  z-index: 1;
}

.navbar {
  border: 2px solid var(--primary-color);
  background-color: var(--secondary-color);
  border-radius: 100px;
  display: flex;
  align-items: center;
  gap: 200px;
  padding: 26px 31px 20px 26px;
}

.nav-links {
  list-style: none;
  display: flex;
  align-items: center;
}
.nav-link {
  font-size: var(--s);
  color: #000000;
  text-decoration: none;
  padding: 10px 14px 10px 14px;
  font-family: "Grandstander";
}
.logo {
  position: absolute;
  left: 48%;
  transform: translate(-50%);
}
.nav-link i {
  display: none;
}

.home-section > .left {
  display: flex;
  flex-direction: column;
  gap: 14px;
  padding: 0 200px;
  position: relative;
}
.left img {
  top: 210px;
  left: 600px;
  position: absolute;
}
.home-section > .right {
  padding: 0 200px 0 0;
}
.rainbow {
  position: absolute;
  top: 850px;
  left: 1318px;
  z-index: 1;
}
.about-us {
  background: #daeeff;
}

.heading {
  text-align: center;
  h1 {
    font-size: var(--xl);
    font-family: "Grandstander";
    padding-top: 130px;
  }
}
.about-us {
  position: relative;
}
.milk {
  position: absolute;
  top: 0;
  left: 150px;
}

.about-us {
  padding-bottom: 70px;

  p {
    font-size: var(--xxs);
    line-height: 34px;
    font-weight: 400;
    font-family: "Grandstander";
  }
}

.wrapper {
  display: flex;
  justify-content: space-evenly;
}
.btns {
  height: 67px;
  width: 227px;
  font-size: 24px;
  font-family: "Grandstander";
  border-radius: 100px;
  border: 3px solid #f3cb60;
}
.learn-more {
  font-size: 24px;
  font-family: "Grandstander";
  border-radius: 100px;
  background: #f3cb60;
  border: 3px solid var(--primary-color);
}
.wrapper > .lft {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 500px;

  margin-top: 16%;
}
.btn-wrapper {
  display: flex;
  gap: 50px;
}
.wrapper > .right {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-right: 14%;
  margin-top: 5%;
}
#about-info {
  text-align: right;
}
#info-btn {
  align-self: flex-end;
}
.wrapper > .right {
  width: 482px;
}
#about-img {
  position: absolute;
  top: 580px;
  right: 347px;
}
.produuct-section {
  background: #fecddc;
  font-size: var(--l);
  padding-top: 40px;
  position: relative;
}
.heading2 {
  text-align: center;
  font-family: "Grandstander";
  padding-top: 40px;
}
.img {
  position: absolute;
}
.products {
  display: flex;
  justify-content: center;
  margin-top: 200px;
  gap: 20px;
}
.one {
  left: 16%;
  top: 25%;
}
.two {
  left: 37%;
  top: 25%;
}
.three {
  right: 14%;
  top: 25%;
}
/* media querry for phones */
@media (max-width: 786px) {
  .nav-link span {
    display: none;
  }
  .nav-link i {
    display: inline;
  }
  .nav-link {
    font-size: var(--xxs);
  }
  .logo {
    /* height: 50px;
    left: 40vw; */
    display: none;
  }
  .navbar {
    gap: 0px;
    padding: 5px 10px;
  }
  .Heart {
    height: 20px;
    width: 20px;
    margin-right: 8px;
    margin-top: 3px;
  }
  .cart {
    height: 20px;
  }
}
